/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

.screen{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cards{
  width: 100%;
  height: auto;
}

.heading_style{
  padding: 30px 0;
text-align: center;
font-family: "Raleway",sans-serif;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 2px;
font-weight: 500;
color: #868686;
background-color: #fff;
font-size: 1.5rem;
margin-bottom: 30px;
}

.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.05,1.05);
}

.card__img{
  width: 100%;
  height: 300px;
}

.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Raleway',sans-serif;
  background-color:#fff;
 text-transform: capitalize;
}

.card__info{
  background-color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
}

.card_category{
  background-color: #fff;
}

button{
  padding: 5px 8px;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width:768px){
  .card{
    float: none;
    margin: 5%;
    width: 90%;

  }
}

.slot_inner{
  text-align: center;
}

.slot_machine{
  width: 300px;
  border: 1px solid;
  text-align: center;
  margin-left: 600px;

}